doctype html
html(lang="en")
   head
      title Media and progress indicators       
      link(rel="stylesheet" href="../assets/css/common.css")
   body      
      h2 mx:Image
      div(class="image")

      h2 mx:SWFLoader
      div(class="sWFLoader")


      
      script(src="../assets/scripts/jquery.min.js")
      