p mx:FormItem label="Fecha de Liquidación"
label Fecha de Liquidación

p mx:FormItem id="lblEstado" label="{resourceManager.getString('medapp','estado')}:" required="true"
label(id="lblEstado" data-i18n="medapp_estado.estado")
span(class="required") *

p mx:FormItem id="lblNaturaleza" label="{resourceManager.getString('medapp','consultaNaturaleza.idReglaCorte')}:"
label(id="lblNaturaleza" data-i18n="medapp_consultaNaturaleza_idReglaCorte.consultaNaturaleza_idReglaCorte")

p mx:FormItem label="{inicio}" id="fIInicio"
label(id="fIInicio") inicio

p mx:FormItem label="{resourceManager.getString('medapp','propiedadBase')}:" visible="false" height="0" paddingBottom="0" paddingTop="0"
label(data-i18n="medapp_propiedadBase.propiedadBase" style="visibility: hidden; padding-top:0; padding-bottom:0")