p id="lblErrorHeader" text="Se encontraron los siguientes errores en el archivo procesado: " fontSize="12" fontWeight="bold"/
label(id="lblErrorHeader") Se encontraron los siguientes errores en el archivo procesado:

p mx:Label text="{resourceManager.getString('medapp', 'respuestaTipoDerecho')}" height="50" width="100%"
label(data-i18n="medapp_respuestaTipoDerecho.respuestaTipoDerecho")

p mx:Label id="txt1" width="100%" textAlign="center" toolTip="{resourceManager.getString('medapp',toolTip1)}"
label(data-i18n="medapp_toolTip1.toolTip1")