p mx:TextArea id="txaAlert" width="300" textAlign="center" wordWrap="true" selectable="false" editable="false" borderStyle="none
textarea(id="textArea1" rows="4" cols="50" disabled)

p mx:TextArea width="284" wordWrap="true" textAlign="center" selectable="false" editable="false" borderStyle="none" text="Ya existe un traspaso con estos datos. ¿Deseas continuar agregándolo?"
textarea(rows="4" cols="50") Ya existe un traspaso con estos datos. ¿Deseas continuar agregándolo?
 
p mx:TextArea editable="false" text="{this._errores.descripcionError}" fontWeight="bold"
textarea(rows="4" cols="50" disabled) this._errores.descripcionError
