p mx:Text text="Nombre"
label Nombre

p mx:Text text="{resourceManager.getString('medapp','idMercadoTitulo')}
label(data-i18n="medapp_idMercadoTitulo.idMercadoTitulo")

p mx:Text text="Nombre" id="lblNombre"
label(id="lblNombre") Nombre