p mx:LinkButton label="{resourceManager.getString('medapp','catalogoTipoValor')}" id="lblCatalogoTipoValor" click="{abrirVentana(event)}"
a(href="#"): button(class="linkButton" type="button" id="lblCatalogoTipoValor" data-i18n="medapp_catalogoTipoValor.catalogoTipoValor" title="click={abrirVentana(event)")

p mx:LinkButton label="{resourceManager.getString('medapp','catalogoTipoValor')}" id="lblCatalogoTipoValor"
a(href="#"): button(class="linkButton" type="button" id="lblCatalogoTipoValor" data-i18n="medapp_catalogoTipoValor.catalogoTipoValor")

p mx:LinkButton label="{resourceManager.getString('medapp','catalogoTipoValor')}" 
a(href="#"): button(class="linkButton" type="button" data-i18n="medapp_catalogoTipoValor.catalogoTipoValor")