p mx:HBox id="hBoxTiposTraspaso" width="980" height="90%" horizontalAlign="center" verticalAlign="middle" horizontalScrollPolicy="off" styleName="containerTab" paddingBottom="15"
div(id="hBoxTiposTraspaso" class="hBox")
   input(type="text")
   input(type="text")
   input(type="text")   

p mx:HBox width="100%" height="100%"
div(class="hBox")
   input(type="text")
   input(type="text")
   input(type="text")