doctype html
html(lang="en")
   head
      title Containers       
      link(rel="stylesheet" href="../assets/css/common.css")
   body  
          
      h2 mx:HBox
      div(class="hBox")
         input(type="text")
         input(type="text")
         input(type="text")   

      h2 mx:VBox
      div(class="vBox")
         input(type="text")
         input(type="text")
         input(type="text")

      h2 mx:Canvas
      div(class="canvas")
         input(type="text")
         input(type="text")
         input(type="text")

      h2 mx:VDividedBox
      div(class="vDividedBox")
         div(class="vDivider")
            input(type="text")         
         div(class="vDivider")
            input(type="text")         
         div(class="vDivider")
            input(type="text")

      h2 mx:HDividedBox
      div(class="hDividedBox")
         div(class="hDivider")
            input(type="text")         
         div(class="hDivider")
            input(type="text")         
         div(class="hDivider")
            input(type="text")

      h2 mx:Panel
      div(class="panel")
         div(class="panelTitle")
            p Panel Title Content
         div(class="panelContent")
            input(type="text")
            input(type="text")
            input(type="text")

      h2 mx:Tile
      div(class="tile")
         input(type="text")
         input(type="text")
         input(type="text")

      h2 mx:Form
      div(class="form")
         form(id="formExample")
            div(class="formTitle")   
               p Form Title
            div(class="formContent")
            input(type="text")
            input(type="text")
            input(type="text")


      
      script(src="../assets/scripts/jquery.min.js")
      