div(id="AMCmpLoadingAd_agrega_5")
   div(id="AMCmpLoadingAd_main" class="vBox")
      label Test label 1: 
      input(type="text" id="test_input_1")
      label Test label 2: 
      input(type="text" id="test_input_2")
      label Test label 3: 
      input(type="text" id="test_input_3")
      label Test label 4: 
      input(type="text" id="test_input_4")
      label(class="addChild") Test label 5:
      input(class="addChild" type="text" id="test_input_5")