div(id="AMCmpLoadingAd_remueve_input_1")
   div(id="AMCmpLoadingAd_main" class="vBox")
      label Test label 1:
      input(class="removeChild" type="text" id="test_input_1")
      label Test label 2: 
      input(type="text" id="test_input_2")
      label Test label 3: 
      input(type="text" id="test_input_3")
      label Test label 4: 
      input(type="text" id="test_input_4")