doctype html
html(lang="en")
   head
      title Control Bars       
      link(rel="stylesheet" href="../assets/css/common.css")
   body      
      h2 mx:ControlBar
      p pendiente

      h2 mx:ApplicationControlBar
      p pendiente
      
      script(src="../assets/scripts/jquery.min.js")
      